/* 유튜브 동영상 썸네일 크기 조정 */
ytd-thumbnail {
    border-radius: 10px;
    overflow: hidden;
  }
  
  /* 동영상 제목의 글자 크기 변경 */
  h3 {
    font-size: 16px !important;
    font-weight: bold;
    color: white !important;
  }
  
  /* 추천 영상 리스트 스타일 변경 */
  ytd-rich-item-renderer {
    margin-bottom: 20px;
  }
  